@{
    ViewData["Title"] = "Listado de Productos";
}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="form-container mb-4">

        </div>
        <div class="text-center text-white mb-3">
            <h1 class="display-4 fw-bolder">Listado de productos</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Todos los productos de todas las categorias.
            </p>
        </div>
    </div>
</header>


<div class="products-container">

    <div class="products-actions-container">
         
        <div class="buscador-filtro" id="filtro-basico">
            <button class="btn button-filtrar-producto me-4" data-bind="click: limpiarCamposDelFiltro" data-bs-toggle="modal" data-bs-target="#filtrar-producto">
                Filtro
                <i class="bi bi-filter" style="font-size: 15px;"></i>
             </button>
            <form class="d-flex" data-bind="submit: manejarFiltroPorNombre">
                <div class="input-group mb-3">
                    <input type="text" class="form-control buscador-producto" data-bind="value: nombreProductoFiltro" placeholder="Nombre del producto">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>

            <button class="reload-productos" data-bind="click: ObtenerProductos">
                <i class="bi bi-arrow-clockwise"></i>
            </button> 
        </div>
        <div class="crear-producto-btn-container">
            <button class="button-agregar-producto" onclick="agregarNuevoProducto()">Agregar Producto</button>
        </div>

    </div>

    <div class="listado-container-tabla-productos" id="producto-listado-contenedor">

        <div data-bind="foreach: productos">
            @*Formulario para crear un producto*@
            <div class="form-container" data-bind="visible: esNuevo">
                <div class="hidden" id="overlay" data-bind="visible: esNuevo"></div>

                <section class="hidden" id="modal-design-producto" data-bind="visible: esNuevo">

                    <div class="flex">
                        <h3 class="fw-bold">Crear un producto</h3>
                        <button class="btn btn-close" data-bind="click: focusOutProductos"></button>
                    </div>

                    <form data-bind="submit: manejarSubmitProducto">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-4">
                                    <label for="NombreProducto" class="form-label">Nombre del producto</label>
                                    <input type="text"
                                           data-bind="value: nombre, event: { input: enforceMaxLength }"
                                           class="form-control"
                                           id="nombre">
                                    <div><span data-bind="text: charCountNombreProducto"></span>/20</div>
                                    <div class="error error-producto text-danger" data-bind="validationMessage: nombre"></div>
                                </div>

                                <div class="mb-4">
                                    <label for="NombreCategoria" class="form-label">Precio</label>
                                    <input type="number"
                                           data-bind="value: precio"
                                           class="form-control"
                                           id="nombre">
                                    <div class="error error-producto text-danger" data-bind="validationMessage: precio"></div>
                                </div>

                                <div class="mb-4">
                                    <label for="categorias" class="form-label">Categoría</label> <br>
                                    <select class="custom-select form-select" id="categorias"
                                            data-bind="options: categoriasSeleccion,
                                                                   optionsText: 'nombre',
                                                                   value: categoria">
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-4">
                                    <label for="NombreCategoria" class="form-label">Descripción</label>
                                    <input type="text"
                                           data-bind="value: descripcion, event: { input: enforceMaxLengthDescripcion }"
                                           class="form-control"
                                           id="nombre">
                                    <div><span data-bind="text: charCountDescripcion"></span>/20</div>
                                    <div class="error error-producto text-danger" data-bind="validationMessage: descripcion"></div>
                                </div>

                                <div class="mb-4">
                                    <label for="NombreCategoria" class="form-label">Stock</label>
                                    <input type="number"
                                           data-bind="value: stock"
                                           class="form-control"
                                           id="nombre">
                                    <div class="error error-producto text-danger" data-bind="validationMessage: stock"></div>
                                </div>

                                <div class="mb-4">
                                    <label for="categorias" class="form-label">Subcategoría</label> <br>
                                    <select class="custom-select form-select" id="subcategorias"
                                            data-bind="options: subcategoriasSeleccion,
                                           optionsText: 'name',
                                           value: subcategoria">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-agregar-producto">
                            <button class="button-guardar-producto-agregado" type="submit" data-bind="disabled: enviandoProducto">
                                Guardar Producto
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="table-trows">
                        <th scope="col">CÓDIGO</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">STOCK</th>
                        <th scope="col">CATEGORÍA</th>
                        <th scope="col">SUBCATEGORÍA</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead> 
                  
                <tbody class="table-body" data-bind="foreach: productos">
                    
                    <tr>
                        <td>
                            <span data-bind="text: codigoProducto"></span>
                        </td>
                        <td>
                            <span data-bind="text: nombre"></span>
                        </td>
                        <td>
                            <span data-bind="text: precio"></span>
                        </td>
                        <td>
                            <span data-bind="text: descripcion"></span>
                        </td>
                        <td>
                            <span data-bind="text: stock"></span>
                        </td>
                        <td>
                            <span data-bind="text: nombreCategoria"></span>
                        </td>
                        <td>
                            <span data-bind="text: nombreSubcategoria"></span>
                        </td>
                        <td>
                            <div class="actions-producto-btn-container">
                                <button>
                                    <i class="bi bi-eye-fill" style="color: green"></i>
                                </button>
                                <button>
                                    <i class="bi bi-pencil" data-bind="click: obtenerProductoAEditar" style="color: blue"></i>
                                </button>
                                <button>
                                    <i class="bi bi-trash" data-bind="click: confirmarEliminacionDelProducto" style="color: red"></i>
                                </button>
                            </div>
                        </td>
                    </tr>  
                </tbody>
            </table>


       </div>


        <div class="categorias-funcionalities">
            <div data-bind="visible: cargando" class="spinner-border">
                <span class="visually-hidden">Cargando...</span>
            </div>

            <div data-bind="visible: noHayProductos">
                <p>No tienes productos registrados.</p>
            </div>
        </div>
   </div>
</div>



<partial name="_ModalEditarProducto" />
<partial name="_ModalFiltroProducto" />

@section Scripts{

    <script src="~/js/productos.js"></script>
    <script src="~/js/categorias.js"></script>
    <script src="~/js/utilidades.js"></script>

    <script>

        const urlCategorias = "/api/categorias";
        const urlSubategorias = "/api/subcategorias";
        const urlProductos = "/api/productos";

        const modalEditarProducto = document.getElementById('editar-producto');
        const modalEditarProductoBSTP = new bootstrap.Modal(modalEditarProducto);
        const modalFiltrarProducto = document.getElementById('filtrar-producto');
        const modalFiltrarProductoBSTP = new bootstrap.Modal(modalFiltrarProducto);

        //Validaciones para los campos vacios y los mensajes de error
        ko.validation.init({
            insertMessages: false,  // Avoid inserting automatic messages
            decorateInputElement: true,
            errorElementClass: 'error'
        }, true);

        //Validation and format for the price of the format. (1,000, 10,000, etc.)
        //Formato de los precios despues de los miles
        ko.bindingHandlers.currency = {
            update: function (element, valueAccessor) {
                var value = ko.unwrap(valueAccessor());
                var formattedValue = value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                element.value = formattedValue;
            }
        };

        //This is the function we use to bind the data in the view and list it.
        //Funcion utilizada para relacionar los datos, esta vez, de los productos
        function ListadoProductosViewModelFn() {
            var self = this;
            self.productos = ko.observableArray([]);
            self.cargando = ko.observable(true);

            self.noHayProductos = ko.pureComputed(function () {
                if (self.cargando()) {
                    return false;
                }
                return self.productos().length === 0;
            });
        }

        //This is the function we use to bind the data in the view and list it.
        function FiltroBasicoPropiedadesViewModelFn() {

            var self = this;

            self.stock = ko.observable("2");
           
            self.limpiarCamposDelFiltro = async function () {
                self.stock('');
                console.log("s")
                
            }
            self.nombreProductoFiltro = ko.observable('');
            self.manejarFiltroPorNombre = async function (){
                await obtenerProductosConElNombre(self.nombreProductoFiltro());
            }
             
        }

        //This is the function we use to bind the data in the view and list it.
        function FiltroExtensoPropiedadesViewModelFn() {

            var self = this;

            self.initializing = ko.observable(true);// Add a flag for initial load
 
            self.categoriasData = ko.observableArray([]);
            self.subcategoriasData = ko.observableArray([]);

  
            self.codigoProducto = ko.observable('');
            self.nombreProducto = ko.observable('');
            self.precio = ko.observable('');
            self.stock= ko.observable('');
            self.categoria= ko.observable('');
            self.subcategoria = ko.observable('');
             
            self.nombreProductoFiltro = ko.observable('');
              
            self.categoriaSeleccion = ko.observableArray([]);
            self.subcategoriaSeleccion = ko.observableArray([]);


            // Async function to load data into the observable array
            self.categoriasData = async function () {
                try {
                    const data = await ObtenerCategorias();
                    if (data) {
                  
                        self.categoriaSeleccion(data);
                        return data;
                    } else {
                        self.message("Failed to load provinces.");
                    }
                } catch (error) {
                    manejarErrorApi("Error", error);
                }
            };

            self.manejarFiltroProducto = async function () {
                
                const objetoFiltro = {
                    nombre: self.nombreProducto(),
                    precio: self.precio(),
                    stock: self.stock(),
                    categoriaId: self.categoria(),
                    subcategoriaId: self.subcategoria()
                }
                 
                await filtrarProductos(objetoFiltro);
                 
            }

            // Initial load
            self.categoriasData();
            // Update the selected subcategory observable whenever the selected category Id changes
            self.categoria.subscribe(async function (categoriaSeleccionada) {
                if (categoriaSeleccionada) {
                    try {
                        const data = await ObtenerSubcategorias(categoriaSeleccionada);

                        if (data) {
                            self.subcategoriaSeleccion(data);
                        } else {
                            manejarErrorApi("Error");
                        }
                    } catch (error) {
                        manejarErrorApi("Error");
                    }
                }
            });
  
            self.manejarFiltroPorNombre = async function () {
          
                await obtenerProductosConElNombre(self.nombreProductoFiltro());
            }
            
        }

        //This function is use to get each element to push it into the list. We pass all the properties
        //of one property
        function productoElementoListadoViewModel
            ({ idProducto, nombre, precio, stock, descripcion, categoria, subcategoria, idCategoria, idSubCategoria, codigoProducto }) {

            var self = this;
             
            let maxLengthNombreProducto = 20;
            let maxLengthDescripcion = 20;
 
            self.idProducto = ko.observable(idProducto);
            self.codigoProducto = ko.observable(codigoProducto);
            self.idCategoria = ko.observable(idCategoria);
            self.idSubCategoria = ko.observable(idSubCategoria);

            self.nombre = ko.observable(nombre).extend({
                required: {
                    message: "Este campo es requerido"
                }
            });

            self.descripcion = ko.observable(descripcion).extend({
                required: {
                    message: "Este campo es requerido"
                }
            });

            self.precio = ko.observable(precio).extend({
                required: {
                    message: "Este campo es requerido"
                },
                maxLength: { params: 5, message: "Para agregar este precio, comuníquese con el administrador" },
                number: { message: "Solo números" }
            });
 

            self.stock = ko.observable(stock).extend({
                required: {
                    message: "Este campo es requerido"
                },
                maxLength: { params: 5, message: "Para agregar más productos, comuníquese con el administrador" },
                number: { message: "Solo números" }
            });

            self.categoria = ko.observable(self.categoria);
            self.subcategoria = ko.observable(subcategoria);
            self.categoriasData = ko.observableArray([]);
            self.subcategoriasData = ko.observableArray([]);

            self.categoriasSeleccion = ko.observableArray([]);
            self.subcategoriasSeleccion = ko.observableArray([]);

            self.esNuevo = ko.pureComputed(function () {
                return self.idProducto() == 0;
            });

            //Async function to load data into the observable array
            self.loadCategoriasData = async function () {
                try {
                    const data = await ObtenerCategorias();
                    if (data) {
                        self.categoriasSeleccion(data);
                        return data;
                    } else {
                        console.error("Error al cargar las categorias");
                        return;
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            };

            //Cargando las categorias
            if (self.esNuevo()) {
                self.loadCategoriasData();
            }

            self.nombreCategoria = ko.observable();
            self.nombreSubcategoria = ko.observable();

            //Función para asignar el nombre de la categoría y de la subcategoría a las variables
            self.asignarCategoriaySubcategoria = async function () {

                const categoria = await obtenerCategoria(idCategoria);
                self.nombreCategoria(categoria);
                
                const subcategoria = await obtenerSubcategoria(idSubCategoria);
                self.nombreSubcategoria(subcategoria);
            }
             
            //Ejecutando la función  
            if (!self.esNuevo()) { 
                self.asignarCategoriaySubcategoria();
            }

            // Update the selected category observable whenever the selectedcategoryId changes
            self.categoria.subscribe(async function (categoriaSeleccionada) { 
                    try {
                        if (categoriaSeleccionada) {
                            self.subcategoriasSeleccion(categoriaSeleccionada.subcategorias);
                        } else {
                            console.error("Error al cargar las subcategorias");
                            return;
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
               
            });

            //Price that we display in each property, correctly formated.
            self.formatPrice = ko.pureComputed({
                read: function () {
                    if (self.precio() !== undefined) {
                        return self.precio().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    } else {
                        return '';
                    }
                },
                write: function (value) {
                    self.precio(value.replace(/,/g, ''));
                }
            });
             
        
            //Function calculada para retornar la cantidad de caracteres que el usuario ha colocado en el input CATEGORIA
            self.charCountNombreProducto = ko.pureComputed(function () {

                if (self.nombre() === undefined) {
                    return '0';
                }
                if (self.nombre() != undefined) {
                    return self.nombre().length;
                }
            });

            //Function calculada para retornar la cantidad de caracteres que el usuario ha colocado en el input SUBCATEGORIA
            self.charCountDescripcion = ko.pureComputed(function () {

                if (self.descripcion() === undefined) {
                    return '0';
                }
                if (self.descripcion() != undefined) {
                    return self.descripcion().length;
                }
            });

              
            self.enforceMaxLength = function (data, event) {
                var input = event.target.value;
                if (input.length > maxLengthNombreProducto) {
                    event.target.value = input.substring(0, maxLengthNombreProducto);
                    self.nombre(input.substring(0, maxLengthNombreProducto));
                } else {
                    self.nombre(input);
                }
            };

            self.enforceMaxLengthDescripcion = function (data, event) {
                var input = event.target.value;
                if (input.length > maxLengthDescripcion) {
                    event.target.value = input.substring(0, maxLengthDescripcion);
                    self.descripcion(input.substring(0, maxLengthDescripcion));
                } else {
                    self.descripcion(input);
                }
            };

            self.enviandoProducto = ko.observable(false);
 
            self.manejarSubmitProducto = async function () {
                 
                var errors = ko.validation.group(self);

                if (errors().length > 0) {
                     
                    errors.showAllMessages();
                    this.enviandoProducto(false);
                    return;
                }

                //If the submit button is pressed, enviandoPropiedad is true and the button will be disabled
                if (this.enviandoProducto()) {
                    return;
                }

                this.enviandoProducto(true);

                const producto = {
                    id: self.idProducto,
                    nombreProducto: self.nombre,
                    descripcion: self.descripcion,
                    stock: self.stock,
                    precio: self.precio,
                    categoria: self.categoria(),
                    subcategoria: self.subcategoria()
                }

                await guardarProducto(producto);
                this.enviandoProducto(false);
            }
        }

        const productoEditarViewModel = {

            maxLengthNombreProducto: 20,
            maxLengthDescripcion: 20,

            idProducto: 0,

            idCategoria: ko.observable(''),
            idSubCategoria: ko.observable(''),

            nombre: ko.observable('').extend({
                required: {
                    message: "Este campo es requerido"
                }
            }),

            descripcion: ko.observable('').extend({
                required: {
                    message: "Este campo es requerido"
                }
            }),

            precio: ko.observable('').extend({
                required: {
                    message: "Este campo es requerido"
                },
                maxLength: { params: 5, message: "Para agregar este precio, comuníquese con el administrador" },
                number: { message: "Solo números" }
            }),

            stock: ko.observable('').extend({
                required: {
                    message: "Este campo es requerido"
                },
                maxLength: { params: 5, message: "Para agregar más productos, comuníquese con el administrador" },
                number: { message: "Solo números" }
            }),

            initializing: ko.observable(true), // Add a flag for initial load

            categoria: ko.observable(),
            subcategoria: ko.observable(),
            categoriasData: ko.observableArray([]),
            subcategoriasData: ko.observableArray([]),
 
            categoriasSeleccion: ko.observableArray([]),
            subcategoriasSeleccion: ko.observableArray([]),

            //Async function to load data into the observable array
            loadCategoriasData: async function () {
                try {
                    const data = await ObtenerCategorias();
                    
                    if (data) {
                        self.categoriasSeleccion(data);
                        return data;
                    } else {
                        console.error("Error al cargar las categorias");
                        return;
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            },
              

            //Price that we display in each property, correctly formated.
            formatPrice: ko.pureComputed({
                read: function () {
                    if (self.precio() !== undefined) {
                        return self.precio().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    } else {
                        return '';
                    }
                },
                write: function (value) {
                    self.precio(value.replace(/,/g, ''));
                }
            }),
            //Function calculada para retornar la cantidad de caracteres que el usuario ha colocado en el input DESCRIPTION
            charCountNombreProducto: ko.pureComputed(function () {
                return productoEditarViewModel.nombre() ? productoEditarViewModel.nombre().length : '0';
            }),

            //Function calculada para retornar la cantidad de caracteres que el usuario ha colocado en el input DIRECCION
            charCountDescripcion: ko.pureComputed(function () {
                return productoEditarViewModel.descripcion() ? productoEditarViewModel.descripcion().length : '0';
            }),

            enforceMaxNombreLength: function (data, event) {
                var input = event.target.value;
                if (input.length > productoEditarViewModel.maxLengthNombreProducto) {
                    event.target.value = input.substring(0, productoEditarViewModel.maxLengthNombreProducto);
                    productoEditarViewModel.nombre(input.substring(0, productoEditarViewModel.maxLengthNombreProducto));
                } else {
                    productoEditarViewModel.nombre(input);
                }
            },

            enforceMaxLengthDescripcion: function (data, event) {
                var input = event.target.value;
                if (input.length > productoEditarViewModel.maxLengthDescripcion) {
                    event.target.value = input.substring(0, productoEditarViewModel.maxLengthDescripcion);
                    productoEditarViewModel.descripcion(input.substring(0, productoEditarViewModel.maxLengthDescripcion));
                } else {
                    productoEditarViewModel.descripcion(input);
                }
            },

            categoriasData: async function () {

                try {
                    const data = await ObtenerCategorias();
                   
                    if (!data) {
                        console.error("Error cargando las categorias");
                        return;
                    }

                    this.categoriasSeleccion(data);

                    if (this.categoria()) {
                        await this.loadSubcategorias(this.categoria());
                        
                    }

                    return data;

                } catch (error) {
                    console.error('Error:', error);
                }
            },

            loadSubcategorias: async function (categoriaId) {
                try {
                    const data = await ObtenerSubcategorias(categoriaId);
                    
                    if (data) {
                        this.subcategoriasSeleccion(data);
                    } else {
                        console.error("Failed to load municipios.");
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            },

            enviandoProducto: ko.observable(false),

            manejarSubmitEditarProducto: async function () {

                var errors = ko.validation.group(this);

        
                if (errors().length > 0) {
                    errors.showAllMessages();
                    this.enviandoProducto(false);
                     return;
                }

                //If the submit button is pressed, enviandoPropiedad is true and the button will be disabled
                if (this.enviandoProducto()) {
                    return;
                }

                this.enviandoProducto(true);

                const producto = {
                    id: this.idProducto,
                    nombreProducto: this.nombre(),
                    descripcion: this.descripcion(),
                    stock: this.stock(),
                    precio: this.precio(),
                    categoria: this.categoria(),
                    subcategoria: this.subcategoria()
                }

                await editarProducto(producto);
                this.enviandoProducto(false);
            }
        }

        // Ensure the context of 'this' is maintained in asynchronous functions
        productoEditarViewModel.categoriasData = productoEditarViewModel.categoriasData.bind(productoEditarViewModel);
        productoEditarViewModel.loadSubcategorias = productoEditarViewModel.loadSubcategorias.bind(productoEditarViewModel);

        // Subscribe to changes in the selected province
        productoEditarViewModel.categoria.subscribe(function (categoriasSeleccionada) {
            if (productoEditarViewModel.initializing()) {
                return;
            }
            if (categoriasSeleccionada) {
                productoEditarViewModel.loadSubcategorias(categoriasSeleccionada);
            }
        });

        // Initial load of provinces data
        productoEditarViewModel.categoriasData().then(() => {
            productoEditarViewModel.initializing(false);
        });

        const productosListadoViewModel = new ListadoProductosViewModelFn();
        const filtroProductosListadoVM = new FiltroBasicoPropiedadesViewModelFn();
        const productoFiltrarViewModel = new FiltroExtensoPropiedadesViewModelFn();

        ko.applyBindings(productosListadoViewModel, document.getElementById('producto-listado-contenedor'));
        ko.applyBindings(productoEditarViewModel, document.getElementById('editar-producto'));
        ko.applyBindings(filtroProductosListadoVM, document.getElementById('filtro-basico'));
        ko.applyBindings(productoFiltrarViewModel, document.getElementById('filtrar-producto'));
        ObtenerProductos();
    </script>
}