                <!-- Modal -->
<div class="modal fade" id="editar-categoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Categoría</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
        
                    <div class="modal-body">
                        <form data-bind="submit: manejarSubmitEditarCategoria">
                            <div class="mb-3">
                                <label for="">Nombre de la Categoría</label>
                                <input type="text" class="form-control"
                                       placeholder=""
                                       data-bind="value: nombre, event: {input: enforceMaxLength}" />
                                <div><span data-bind="text: charCountNombreCategoria"></span>/20</div>
                                <div class="error text-danger" data-bind="validationMessage: nombre"></div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Editar Categoría</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>







