html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer{

    position: absolute;
    bottom: 70px;
    width: 100%;
    font-size: 20px;
}

.presentation-container {
    width: 100%;
 
}

.presentation{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.list-group-item:hover {
    background-color: #f0f0f0;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
}


#modal-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;

}


    #modal-design input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
    }

    #modal-design p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.2rem;
    }

#modal-design {
    z-index: 3;
}

#modal-design-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    width: 850px;
    background-color: #f1f5f9;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    border: 1px solid #ddd;
    border-radius: 15px;
}

#modal-design-producto label{
    font-size: 20px
}


    #modal-design-producto input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
         
    }

    #modal-design-producto p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.2rem;
    }

#modal-design-producto {
    z-index: 3;
}


/*Clientes*/
#modal-design-cliente, #modal-design-grupo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    width: 650px;
    background-color: #f1f5f9;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    border: 1px solid #ddd;
    border-radius: 15px;
}

    #modal-design-cliente label, #modal-design-grupo label {
        font-size: 20px
    }


    #modal-design-cliente input, #modal-design-grupo input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
    }

    #modal-design-cliente p, #modal-design-grupo p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.2rem;
    }

#modal-design-cliente, #modal-design-grupo {
    z-index: 3;
}


.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.flex button{
    width: 30px;
    height: 30px;
    background-color: grey;
}


.subcategoria-card{
    border-radius: 20px;
}

.products-container, .clientes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5f9;
}

.products-actions-container, .clientes-actions-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.buscador-filtro{
    display: flex;

}

.button-agregar-producto {
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

    .button-agregar-producto:hover {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
        border: 0;
    }

    .button-agregar-producto:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }


.button-filtrar-producto {
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    height: 60px;
}

    .button-filtrar-producto:hover {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
    }

    .button-filtrar-producto:active {
        letter-spacing: 3px;
        background-color: black;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

.buscador-producto {
    border: 0;
    border-radius: 5px;
    height: 60px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
}
.buscador-producto:focus{
    border: 3px solid #5551ff;
}


.button-guardar-producto-agregado {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

    .button-guardar-producto-agregado:hover {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        border: 0;
    }

    .button-guardar-producto-agregado:active {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }


.table-container{
    margin-top: 30px;
    background-color: white;
    width:100%;
    border: none;
    border-radius: 5px;
}

 

.listado-container-tabla-productos{
    width: 90%;
}

.actions-producto-btn-container button{

    border: none;
    background-color: transparent;

}

.table-trows th{
    font-weight: normal;
     
    font-size: 20px;
}

.table-body tr td {
    font-weight:400;
    font-size: 18px;
}

.error-producto{
    
    position: absolute;
}

.reload-productos {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-left: 30px;
    height: 60px;
}

    .reload-productos:hover {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        border: 0;
    }

    .reload-productos:active {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }




/*Menu*/
/*
:root {
    --background: white;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #212529;
    --navbar-dark-secondary: #000;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: white;
}

 

#nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
}

#nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
}

#nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

#nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
}

    #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
        width: 16px;
        background: var(--navbar-light-secondary);
        transform: translate(0, 0) rotate(0deg);
    }

#nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity 0.1s;
}

#nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(100% - 16px);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
}

#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

#nav-bar {
    position: absolute;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
}

    #nav-bar hr {
        margin: 0;
        position: relative;
        left: 16px;
        width: calc(100% - 32px);
        border: none;
        border-top: solid 1px var(--navbar-dark-secondary);
    }

    #nav-bar a {
        color: inherit;
        text-decoration: inherit;
    }

    #nav-bar input[type=checkbox] {
        display: none;
    }

#nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}

    #nav-header hr {
        position: absolute;
        bottom: 0;
    }

#nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
}

label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
}

    #nav-toggle-burger:before, #nav-toggle-burger:after {
        content: "";
        position: absolute;
        top: -6px;
        width: 10px;
        height: 2px;
        background: var(--navbar-light-primary);
        border-radius: 99px;
        transform: translate(2px, 8px) rotate(30deg);
        transition: 0.2s;
    }

    #nav-toggle-burger:after {
        top: 6px;
        transform: translate(2px, -8px) rotate(-30deg);
    }

#nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
}

    #nav-content::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    #nav-content::-webkit-scrollbar-thumb {
        border-radius: 99px;
        background-color: #D62929;
    }

    #nav-content::-webkit-scrollbar-button {
        height: 16px;
    }

#nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
}

    #nav-content-highlight:before, #nav-content-highlight:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 100%;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 16px 16px var(--background);
    }

    #nav-content-highlight:after {
        top: 100%;
        box-shadow: 16px -16px var(--background);
    }

.nav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
}

    .nav-button span {
        transition: opacity 1s;
    }

    .nav-button .fas {
        transition: min-width 0.2s;
    }

    .nav-button:nth-of-type(1):hover {
        color: black;
    }

        .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
            top: 16px;
        }

    .nav-button:nth-of-type(2):hover {
        color: black;
    }

        .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
            top: 70px;
        }

    .nav-button:nth-of-type(3):hover {
        color: black;
    }

        .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
            top: 124px;
        }

    .nav-button:nth-of-type(4):hover {
        color: black;
    }

        .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
            top: 178px;
        }

    .nav-button:nth-of-type(5):hover {
        color: black;
    }

        .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
            top: 232px;
        }

    .nav-button:nth-of-type(6):hover {
        color: black;
    }

        .nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
            top: 286px;
        }

    .nav-button:nth-of-type(7):hover {
        color: black;
    }

        .nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
            top: 340px;
        }

    .nav-button:nth-of-type(8):hover {
        color: black;
    }

        .nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
            top: 394px;
        }

#nav-bar .fas {
    min-width: 3rem;
    text-align: center;
}

#nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
}

#nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

#nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
}

    #nav-footer-avatar img {
        height: 100%;
    }

#nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
}

#nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
}

    #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
        transform: rotate(180deg);
    }

label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

#nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
}

    #nav-footer-content::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    #nav-footer-content::-webkit-scrollbar-thumb {
        border-radius: 99px;
        background-color: #D62929;
    }
*/










 

 
body {
    display: flex;
}

.content-page {
    margin-left: 250px; /* Desplaza el contenido principal hacia la derecha */
    width: 90%;
}
.sidebar {
    width: 250px;
    background-color: #212529;
    color: #ffffff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fija el menú en la pantalla */
    top: 0;
    left: 0;
    height: 100vh; /* Hace que el menú cubra toda la altura de la pantalla */
    overflow-y: auto; /* Permite desplazamiento si el menú tiene muchas opciones */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
}

.menu {
    list-style: none;
    width: 100%;
}

    .menu li {
        width: 100%;
    }

    .menu a {
        display: flex;
        align-items: center;
        color: #b0b0c3;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 18px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .menu a .icon {
            margin-right: 10px;
            font-size: 20px;
        }

        .menu a:hover {
            background-color: #343a40;
            color: #ffffff;
        }

.content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}

    .content h1 {
        margin-bottom: 20px;
    }

    .content p {
        font-size: 16px;
        line-height: 1.5;
    }

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
}

.logo-image {
    width: 180px; /* Ajusta el tamaño de la imagen según necesites */
    height: 70px;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}