html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer{

    position: absolute;
    bottom: 70px;
    width: 100%;
    font-size: 20px;
}

.presentation-container {
    width: 100%;
 
}

.presentation{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.list-group-item:hover {
    background-color: #f0f0f0;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
}


#modal-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 2%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}


    #modal-design input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
    }

    #modal-design p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.2rem;
    }

#modal-design {
    z-index: 3;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.flex button{
    width: 30px;
    height: 30px;
    background-color: grey;
}

 
 