html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer{

    position: absolute;
    bottom: 70px;
    width: 100%;
    font-size: 20px;
}

.presentation-container {
    width: 100%;
 
}

.presentation{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.list-group-item:hover {
    background-color: #f0f0f0;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
}


#modal-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;

}


    #modal-design input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
    }

    #modal-design p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.2rem;
    }

#modal-design {
    z-index: 3;
}

#modal-design-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    width: 850px;
    background-color: #f1f5f9;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    border: 1px solid #ddd;
    border-radius: 15px;
}

#modal-design-producto label{
    font-size: 20px
}


    #modal-design-producto input {
        padding: 0.7rem 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 0.9em;
         
    }

    #modal-design-producto p {
        font-size: 0.9rem;
        color: #777;
        margin: 0.4rem 0 0.2rem;
    }

#modal-design-producto {
    z-index: 3;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.flex button{
    width: 30px;
    height: 30px;
    background-color: grey;
}


.subcategoria-card{
    border-radius: 20px;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5f9;
}

.products-actions-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between; 
    width: 90%;
 }

.buscador-filtro{
    display: flex;

}

.button-agregar-producto {
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

    .button-agregar-producto:hover {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
        border: 0;
    }

    .button-agregar-producto:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }


.button-filtrar-producto {
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    height: 60px;
}

    .button-filtrar-producto:hover {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
    }

    .button-filtrar-producto:active {
        letter-spacing: 3px;
        background-color: black;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }

.buscador-producto {
    border: 0;
    border-radius: 5px;
    height: 60px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
}
.buscador-producto:focus{
    border: 3px solid #5551ff;
}


.button-guardar-producto-agregado {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

    .button-guardar-producto-agregado:hover {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        border: 0;
    }

    .button-guardar-producto-agregado:active {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }


.table-container{
    margin-top: 30px;
    background-color: white;
    width:100%;
    border: none;
    border-radius: 5px;
}

 

.listado-container-tabla-productos{
    width: 90%;
}

.actions-producto-btn-container button{

    border: none;
    background-color: transparent;

}

.table-trows th{
    font-weight: normal;
     
    font-size: 20px;
}

.table-body tr td {
    font-weight:400;
    font-size: 18px;
}

.error-producto{
    
    position: absolute;
}

.reload-productos {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-left: 30px;
    height: 60px;
}

    .reload-productos:hover {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        border: 0;
    }

    .reload-productos:active {
        letter-spacing: 3px;
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }


